<robot name="106">


	<link name="1_wheel">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="./raw_data/part_dae/1.dae" />
			</geometry>
		</visual>
	</link>


	<link name="2_caster">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="./raw_data/part_dae/2.dae" />
			</geometry>
		</visual>
	</link>


	<link name="3_wheel">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="./raw_data/part_dae/3.dae" />
			</geometry>
		</visual>
	</link>


	<link name="4_caster">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="./raw_data/part_dae/4.dae" />
			</geometry>
		</visual>
	</link>


	<link name="5_wheel">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="./raw_data/part_dae/5.dae" />
			</geometry>
		</visual>
	</link>


	<link name="6_caster">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="./raw_data/part_dae/6.dae" />
			</geometry>
		</visual>
	</link>


	<link name="7_wheel">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="./raw_data/part_dae/7.dae" />
			</geometry>
		</visual>
	</link>


	<link name="8_caster">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="./raw_data/part_dae/8.dae" />
			</geometry>
		</visual>
	</link>


	<link name="9_wheel">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="./raw_data/part_dae/9.dae" />
			</geometry>
		</visual>
	</link>


	<link name="10_caster">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="./raw_data/part_dae/10.dae" />
			</geometry>
		</visual>
	</link>


	<link name="11_base">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="./raw_data/part_dae/11.dae" />
			</geometry>
		</visual>
	</link>


	<link name="12_gas lift piece">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="./raw_data/part_dae/12.dae" />
			</geometry>
		</visual>
	</link>


	<link name="13_gas lift piece">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="./raw_data/part_dae/13.dae" />
			</geometry>
		</visual>
	</link>


	<link name="14_arm">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="./raw_data/part_dae/14.dae" />
			</geometry>
		</visual>
	</link>


	<link name="15_arm">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="./raw_data/part_dae/15.dae" />
			</geometry>
		</visual>
	</link>


	<link name="16_back">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="./raw_data/part_dae/16.dae" />
			</geometry>
		</visual>
	</link>


	<link name="17_seat">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="./raw_data/part_dae/17.dae" />
			</geometry>
		</visual>
	</link>


</robot>